.character-card {
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    cursor: pointer;

    img {
        border-radius: .25rem;
    }

    .characteristics {
        >p {
            font-size: 1.125rem;
        }
    }
}